# Игнорировать файлы и директории с переменными окружения
.env
# Игнорировать папку с виртуальным окружением
.venv/
# Игнорировать папку dist
dist/
# Игнорировать файлы конфигурации IDE
.vscode/
# Игнорировать pycache
__pycache__/
